.md-header__button.md-logo,
.md-nav__title {
    display: none !important;
}

.md-content__inner, .md-typeset p {
    text-align: justify;
}

.md-sidebar--secondary .md-sidebar__scrollwrap,
.md-sidebar--secondary .md-sidebar__inner {
    background-color: inherit;
    min-height: 100%;
    background-color: #f4f4f4;
}
